@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
.top-navigation-menu-item{
    display: inline-block;
}
.top-navigation-menu-item ~ li{
    padding: 32px 0 32px 72px;
}
.container{
    margin: 0 auto;

}
.top-navigation-menu{
    width: 635px;
}
.top-navigation-menu-item-link{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.logo-section{
    background-color: #00BDC9;
}
.logo-section-image{
    padding-top: 92px;
    display: block;
    margin: 0 auto;
    padding-bottom: 92px;
}
.main-text-section{
    margin-top: 88px;
    width: 865px;
}
.main-text-heading{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.main-text{
    margin-top: 40px;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.main-text-highlight{
    color: #04959E;
}
.main-text-list{
    list-style: decimal;
    margin-top: 24px;
    margin-bottom: 60px;
}
.main-text-list-item{
font-size: 18px;
font-weight: 400;
line-height: 150%;
}
.button-cta{
    padding: 10px 24px;
    display: block;
    background-color: #04959E;
    color: white;
    font-size: 18px;
    border-color: white;
    outline-style: none;
    margin-bottom: 88px;
}
.footer-text{
    display: block;
    padding: 16px 0;
    text-align: center;
    border-top: solid black;
}